{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>さあ、造るがよい</h1>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
{% endblock %}