<ul id="section-nav" class="nav nav-sidebar">
    <li class="header">EGS</li>
    <li><a href="{{ path('admin_egsbrand_index') }}">BRAND</a></li>
    <li><a href="{{ path('admin_egsgame_index') }}">GAME</a></li>
    <li class="header">美ゲGEN</li>
    <li><a href="{{ path('admin_game_index') }}">GAME</a></li>
    <li><a href="{{ path('admin_character_base_index') }}">CHARACTOR_BASE</a></li>
</ul>