<ul id="section-nav" class="nav nav-sidebar">
    <li class="header">ADMIN MENU</li>
    <li><a href="#">MENU#1</a></li>
    <li><a href="#">MENU#2</a></li>
    <li><a href="#">MENU#3</a></li>
    <li><a href="#">MENU#4</a></li>
    <li><a href="#">MENU#5</a></li>
</ul>